<h1>Shifts this Week</h1>

<p> Lol this is shit </p>
<%= link_to "Import", week_import_path, class: "btn btn-default", remote: true %>

<div class="table-responsive table-bordered">
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
            <% @days.each do |e| %>
                <th><%= e %></th>
            <% end %>
            </tr>
            <tr>
            <% @dates.each do |e| %>
                <th><%= e %></th>
            <% end %>
            </tr>
        </thead>
        <tbody>
        <% @shifts.map(&:length).max.times do |row| %>
          <tr>
            <% @shifts.length.times do |column| %>
            <td><%= @shifts[column][row] %></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
</div>
<div id="week-modal" class="modal fade"></div>
