<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-sm-1">Name</th>
    </tr>
  </thead>
  <tbody data-link="row" class="rowlink emps">
      <% @unavailable.each do |emp| %>
        <tr id=<%= emp.id%>e>
          <td> 
            <%=link_to selected_dashboard_index_path(shift_id: @ident, employee_id: emp.id), remote: true do %>
              <%= emp.format_name %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <br />
  </tbody>
</table>

