<div class="row">
  <% if no_avail > 0 %>
  <div class="col-lg-3 col-offset-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <br>
            <p class="announcement-heading"><%= @no_avail %></p>
            <br>
            <p class="announcement-text">Shifts With No Availability</p>
          </div>
        </div>
      </div>
      <%= link_to resolve_dashboard_index_path, :remote => true do %>
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6"> Assign Employees </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="noavail-modal" class="modal fade"></div>
<% end %>
<% if true %>
  <div class="col-lg-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <br>
            <p class="announcement-heading">5</p>
            <br>
            <p class="announcement-text">Days with limited availability</p>
          </div>
        </div>
      </div>
      <%= link_to short_dashboard_index_path, :remote => true do %>
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6"> Find extra staff </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="short-modal" class="modal fade"></div>
<% end %>
<% if false %>
  <div class="col-lg-3 col-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <br>
            <p class="announcement-heading">0</p>
            <br>
            <p class="announcement-text">Leave Requests</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6"> Grant Leave </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
<% end %>
<% if false %>
  <div class="col-lg-3 col-offset-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
            <h2 class="announcement-text">Under Employment</h2>
            <br>
            <p class="announcement-text">Your Employees are working more hours than they desire, you should consider hiring some more staff</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
