<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= form_for @user, :url => { :action => "edit" } do |f| %>
  <%= time_zone_select( "user", "timezone", ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<%end%>
