<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Shift</h4>
      </div>
      <div class="modal-body">

      <div class="modal-footer">
        <button type="button" class="btn btn-default col-lg-1 col-lg-offset-7" data-dismiss="modal">Close</button>
          <div class="actions">
              <%= button_tag(type: "submit", class: "btn btn-primary col-lg-offset-1 col-lg-2") do %>
                  Save
                <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
