<div class="container-full">
<div class="row">
<div class="col-lg-8 text-center v-center col-lg-offset-2">
<h1>Schedulemma</h1>

<p class="lead">
Automatic scheduling for your casual workforce!
</p>

</div>
</div>
</div>
<div class="container">
  
    <hr>
  
    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Simple Business Week Planning</h3></div>
            <div class="panel-body"> <p class="text-justify"> Schedulemma offers a simple and easy way for you to plan your upcoming week, whether it is the busiest week of the season or a lull, you simply select how many employees you need and Schedulemma will automatically decide who is best to be put on. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Employee Preference and Leave Tracking</h3></div>
            <div class="panel-body"> <p class="text-justify">Never worry about scheduling an employee for their day off or when they have other commitments! Schedulemma remembers all of this for you and will not schedule someone who can't work!
</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Automatic Schedule Generation</h3></div>
            <div class="panel-body"><p class="text-justify"> Schedulemma is designed to take away the burden of managing schedules of todays casual workforce. Perfect schedules are now created in seconds, saving you time and giving you peace of mind knowing that your employees are being scheduled fairly. No more complaints from unhappy employees! </p>
            </div>
          </div>
        </div>
    </div>
  
  <div class="row">
        <div class="col-lg-12">
        <br><br>
<p class="lead text-center">
Schedulemma is currently in alpha and unfortunately we are not accepting registrations. Check back soon!
</p>
        <br><br>
        </div>
    </div>
</div>

