<div class="container-full">
<div class="row">
<div class="col-lg-8 text-center v-center col-lg-offset-2">
<h1>Schedulemma</h1>

<p class="lead">
Schedulemma is a scheduling app for your casual workforce, It keeps track of your employee preferences, their requested days off and offers a simple and easy way to plan your weekly schedule.</p>

<p class="lead">
Then it automatically generates a schedule for your upcoming business week.. Easy :) </p>

<p class="lead">
Currently Schedulemma is still in alpha and registrations are closed, There will be a demo available shortly however </p>

<p class="lead">
Check back soon for updates! </p>
</div>
</div>
</div>
